<div class="card-container">
    <mat-card class="card-item">
        <mat-card-header>
            <mat-card-title class="card-title">{{project.title}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="card-content">
            <div class="checkbox">
                <app-todo-list-item *ngFor="let todo of project.sortTodo()"
                [todo]="todo"
                ></app-todo-list-item>
            </div>
        </mat-card-content>
    </mat-card>
</div>