.toolbar {
    display: flex;
    justify-content: center;
}
 
.toolbar-title {
    font-size: 24px;
    color: white;
}

.add-button {
    position: absolute;
    right: 15px;
    
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
}

.card-item {
    margin: 15px;
    width: 25%;
}

.card-content {
    margin-top: 10px;
}

.checkbox {
    padding-top: 10px;
}
