<mat-toolbar color="primary" class="toolbar">
  <span class="toolbar-title">Задачи</span>
  <button mat-icon-button class="add-button" (click)="openDialog()">
    <div style="fill:#fff; position:relative; display:inline-block; width:40px; height:40px;">
      <svg class="svg" viewBox="0 0 400 400" style="transform: rotate(0deg);">
        <path d="M112 213l75 0 0 75c0,16 26,16 26,0l0 -75 75 0c16,0 16,-26 0,-26l-75 0 0 -75c0,-16 -26,-16 -26,0l0 75 -75 0c-16,0 -16,26 0,26z" />
      </svg>
    </div>
  </button>
</mat-toolbar>

<div class="card-container">
  <app-todo-list *ngFor="let project of projects"
  [project]="project"
  (toggleComplete)="onToggleTodoComplete($event)"
  ></app-todo-list>
</div>